# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

# Scripts
*.sh text eol=lf

# Config files
.gitignore text eol=lf
.gitattributes text eol=lf
.npmignore text eol=lf

